<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, t("sign_up.email") %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password, t("sign_up.password") %>
      <%= link_to t("reset_pass.forget"), new_password_reset_path %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
        <span><%= t "login.remember"%></span>
      <% end %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p><%= t "login.new" %> <%= link_to t("sign_up.create_account"), signup_path %></p>
  </div>
</div>
