<h1><%= t"reset_pass.name" %></h1>
<p><%= t"reset_pass.content1"%></p>
<%= link_to t("reset_pass.name"), edit_password_reset_url(id: @user.reset_token,
  email: @user.email) %>
<p><%= t"reset_pass.content2"%></p>
<p><%= t"reset_pass.content3"%></p>
